each battle in battles
  li
    .tag1= battle.tag1
    .tag1-count= battle.tag1_count
    .tag2= battle.tag2
    .tag2-count= battle.tag2_count
    | date_created
    .date-created= battle.created_at
